.Message {
  width: 100%;
  background-color: #f0f0f0;
  border-top: 1px #d0d0d0 solid;
}
.Message__input {
  width: 80%;
  height: 0.5rem;
  margin: 1rem auto;
  padding: 1rem;
  background: #fff;
  color: #333333;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  outline: 0;
}

.Message__input::placeholder {
  font-style: italic;
}